

/* .img {
    max-width: 100%;
    height: auto;
} */

.descriptionBloc {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr 10fr;
}

.userInfo {
    padding: 10px;
}

.userName {
    font-size: x-large;
}


.descriptionBloc img {
    width: 200px;
}

.contactBloc {
    display: flex;
    padding-top: 10px;
    margin-left: -10px;
}

.contactBloc a{
    color:azure;
    text-decoration: none;
    font-size: large;
    
}

.contactBloc img {
    width: 30px;
    padding: 3px;
}

.lookingJobBloc img {
 
    width: 80px;
}

.followButton button {
    margin-left: 25%;    
    
}
