.header {
  grid-area: h;
  background-color: aqua;

  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  }

  .header img {
    width: 60px;
  }

  .logoName {
    color: rgb(91, 148, 148);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    padding: 5px;
    text-shadow: rgb(255, 254, 254);
  }

  .loginBlock {
    float: right;
   
  }

  .loginBlock a {
    color: rgb(91, 148, 148);
    text-decoration: none;
    font-size: x-large;
    padding: 10px;
  }

  .loginUserBlock {
    display: flex;
    
  }


  .loginUserBlock button {
    color: rgb(91, 148, 148); 
    padding: 10px;
    background-color: aqua;
    border: none;
    width: min-content;
  }