.formControl.error input,
.formControl.error textarea 
{
border: solid red 2px;
}

.formControl.error span 
{
color: red;
}

.formCommonError {
    color: red;
    border: solid red 2px;
    padding: 5px;
}

.form {
    padding-left: 5px;
}