.postsBloc {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.postsBloc button {
   
    min-width: 100px;
    border: 2px solid transparent;
    border-radius: 100px;
    background: darkcyan;
    color: white;
    outline: none;
}

.postsBloc button:hover {
    background: transparent;
    color: #222;
    border-color: darkcyan;
    cursor: pointer; 
}

.postsBloc textarea {
    border-radius: 5px;
    width: 300px;
    height: 50px;
    border: none;
    resize: none;
    overflow: auto;
    outline: none;
}